@charset "UTF-8";
/* CSS Document */

nav#menu ul li {
	float: left;
	display: block;
	position: relative;
    z-index: 100;
	z-index: 9999 !important;/* IE7 */
	height: 37px;
    background: url(../img/header/menu-li-right.png) right top no-repeat;
}


nav#menu ul li ul li {
    float: none;
    background: url(../img/header/menu-bg.png);
    display: block;
    width: 100%;
	white-space: nowrap;
    overflow: hidden;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
	padding:0px 95px 0px 2px;/* IE7 */
	margin-bottom:-5px;/* IE7 */
	
}



/****featured list*****/

section.featured aside.news ul li article {
	    background-color: #000000;
	    opacity: 0.6;
		position: absolute;/* IE7 */
    	left: 0px;/* IE7 */
	    bottom: 0px;/* IE7 */
		padding: 10px;/* IE7 */
		width:100%;/* IE7 */
    
}

section.featured aside.news div.buttons {
	position: absolute;/* IE7 */
    top: 12px;/* IE7 */
    right: 15px;/* IE7 */
	z-index:100; /* IE7 */
}


section.featured aside.news div.buttons a {

	background-image: url("../img/featured/featured-icon-a.png") no-repeat;/* IE7 */
	background-position: center;/* IE7 */
	background-repeat:no-repeat;
  	width: 12px;/* IE7 */
    height: 12px;/* IE7 */
    overflow: hidden;/*IE7 */
    text-indent: 10000px;/* IE7 */
	margin-left: 8px;
    outline: 0 none;
	z-index:100; /* IE7 */
	

}


section.featured aside.news div.buttons a.current {
	
	background-image: url(../img/featured/featured-icon-c.png);/* IE7 */




}
